.footer
  .menu
    .row
      .col-sm-2
        p ABOUT
      .col-sm-2
        p HELP
      .col-sm-2
        p POLICY
      .col-sm-2
        p SOCIAL
      .col-sm-2
        p Mail Us
      .col-sm-2
        p Registered Office Address
  .row
    .col-sm-2
      ul
        li
          a(href='#contact') Contact Us
        li
          a(href='#About Us') About Us
        li
          a(href='#login') Careers
        //- li
        //-   a(href='#login') Press
    .col-sm-2
      ul
        li
          a(href='#login') Payments
        li
          a(href='#login') Shipping
        li
          a(href='#login') Cancellation
        li
          a(href='#login') Returns
        //- li
        //-   a(href='#login') FAQ
        li
          a(href='#login') Report
    .col-sm-2
      ul
        li
          a(href='#login') Return Policy
        li
          a(href='#login') Terms Of Use
        li
          a(href='#login') Security
        li
          a(href='#login') Privacy
        li
          a(href='#login') Sitemap
        li
          a(href='#login') ERP Compliance
    .col-sm-2
      ul
        li
          a(href='#login') Facebook
        li
          a(href='#login') Twitter
        li
          a(href='#login') YouTube
    .col-sm-2
      .line
        .he
        .con
          p
            | TechSpark Internet Private Limited,
            | Buildings Alyssa, Begonia &
            | Clove Embassy Tech Village,
            | Outer Ring Road, Devarabeesanahalli Village,
            | Bengaluru, 560103,
            | Karnataka, India.
    .col-sm-2
      .conp
        p
          | TechSpark Internet Private Limited,
          | Buildings Alyssa, Begonia &
          | Clove Embassy Tech Village,
          | Outer Ring Road, Devarabeesanahalli Village,
          | Bengaluru, 560103,
          | Karnataka, India
          | CIN : U51109KA2012PTC066107
          | Telephone: 8766227022
  .bo
  .under-footer
    .row
      .col-sm-2
        .imageIcon
          img(src='./../img/assets/sale.png')
          p Sell On TechSpark
      .col-sm-2
        .imageIcon
          img(src='./../img/assets/star.png')
          p Advertise
      .col-sm-2
        .imageIcon
          img(src='./../img/assets/giftbox.png')
          p Gift Cards
      .col-sm-2
        .imageIcon
          img(src='./../img/assets/question.png')
          p Help enter
      .col-sm-2
        p © 2019-2020 TechSpark.com
        p
      .col-sm-2
        .imageCard
          img(src='./../img/card/Visa-Straight.png')
          img(src='./../img/card/Mastercard-Straight.png')
          img(src='./../img/card/rupay_payment_card_bank-512.png')
          img(src='./../img/card/American-Express-Straight.png')
          img(src='./../img/card/Discover-Straight.png')
